<h1>Listing products</h1>
	<div class="btn btn-warning"><%= link_to 'New product', new_product_path %></div>
	<table class="table table-striped">
		<% @products.each do |product| %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
			<td>
				<%= image_tag(product.image_url, class: 'list_image') %>
			</td>
			<td class="list_description">
				<dl>
					<dt><%= product.title %></dt>
						<dd><%= truncate(strip_tags(product.description),
						length: 80) %></dd>
				</dl>
			</td>
			<td class="list_actions">
				<button type="button" class="btn-xs btn-warning"><%= link_to 'Show', product %></button>
				<button type="button" class="btn-xs btn-success"><%= link_to 'Edit', edit_product_path(product) %></button>
				<button type="button" class="btn-xs btn-info"><%= link_to 'Destroy', product, method: :delete,
				data: { confirm: 'Are you sure?' } %></button>
			</td>
		</tr>
		<% end %>
	</table>
