<!DOCTYPE html>
<html>
<head>
	<title>Graffiti Online Store</title>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render 'layouts/navbar' %>

<% if session[:user_id] %>	
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul>
					<li><%= link_to 'Orders', orders_path %></li>
					<li><%= link_to 'Products', products_path %></li>
					<li><%= link_to 'Users', users_path %></li>
				</ul>		
			</div>
			<div class="col-md-9">
				<%= yield %>
			</div>
		</div>
	</div>

<% else %>
	<div class="container">
		<div class="row">
			<% if @cart %>
				<div class="col-md-3" id="cart">
					<%= render @cart %>
				</div>
				<div class="col-md-9">
					<%= yield %>
				</div>
			<% else %>
				<div>
					<%= yield %>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
</body>
</html>
