<!DOCTYPE html>
<html>
<head>
	<title>Graffiti Online Store</title>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div id="banner">
<!-- 		<%= image_tag("infinitisymbol_2.jpg") %>
 -->		<%= @page_title || "That On Which You Focus..." %>
	</div>
	<div id="columns">
		<div id="side">
			<div id="cart">
				<% if @cart %>
 					<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
  					<%= render @cart %>
					<% end %>
				<% end %>
			</div>

			<ul>
				<li><a <%= link_to 'Home', store_path %> </a></li>
				<!-- <li><a <%= link_to 'Questions', questions_path %> </a></li>
				<li><a <%= link_to 'News', news_index_path %> </a></li> -->
 				<li><a <%= link_to 'About the Artist', contacts_path %> </a></li>
				<br>
				<li><a <%= link_to 'Log In', admin_path %> </a></li>
			</br>
				<li> NOTE: Log in with name: "guest" password: "password" if you are a first time visitor</li>
			</ul>

			<% if session[:user_id] %>
				<ul>
					<li><%= link_to 'Orders', orders_path %></li>
					<li><%= link_to 'Products', products_path %></li>
					<li><%= link_to 'Users', users_path %></li>
				</ul>
				<%= button_to 'Logout', logout_path, method: :delete %>
			<% end %>

		</div>
		<div id="main">
		<%= yield %>
		</div>
	</div>
</body>
</html>
